* {
  box-sizing: border-box;
}

body {
  background: #d0e0e6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  line-height: 1;
  font-family: "Patrick Hand", sans-serif;
}
/* .counter{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  } */
/* p {
    text-align: right;
    font-size: 50px;
    color: #999;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  p strong {
    font-size: 14px;
    color: #777;
  } */
.cards {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  gap: 10px;
}
.card {
  height: 150px;
  width: 150px;
  border-radius: 2px;
  background: #000;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
.card.flipped .inner {
  transform: rotateY(180deg);
}
.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.6s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}
.card .front,
.card .back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.3px solid rgb(131, 166, 189);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.card .front {
  background: #fff;
  transform: rotateY(180deg);
}
.card .back {
  background: rgb(104, 117, 141);
  border: 0.3px solid rgb(131, 166, 189);
  color: #d6d3ae;
  font-size: 100px;
  transition: 0.3s ease all;
}
.card .back:hover {
  background: red;
  color: #fff;
  transform: scale(1.02);
}
img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  } */

.timer button {
  margin-top: 5px;
  color: rgb(89, 121, 142);
  border-radius: 7px;
  border: 1px solid rgb(155, 178, 197);
}
.time1:hover {
  color: white;
  background-color: rgb(89, 121, 142);
}
h3 {
  /* background:silver; linear-gradient(tomato, rgb(216, 144, 130),rgb(243, 206, 199)); */
  width: 220px;
  height: 50px;
  margin: 7px auto;
  color: rgb(244, 247, 250);
  /* text-shadow: 1px 1px 7px; */
  font-size: xx-large;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.timer {
  margin-bottom: 15px;
}
